tweet front gate

<div class="container">
  <%= form_for [@tweet] do |f| %>
    <div class="form_group">
      <%= f.text_area :description, maxlength: 140, placeholder: "tweet here!", class: "form-control" %>
    </div>
    <div class="form_group">
      <%= f.submit class: "btn btn-primary" %>
      <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
    </div>
  <% end %>

  <% @tweets.each do |tweet| %>
    <div class="col-md-6">
      <%= image_tag "http://lorempixel.com/140/140/people", class: "img-responsive img-circle" %>
      <h5><%= link_to tweet.user.name, user_path(tweet.user) %>, <%= tweet.created_at %></h5>
      <p><%= tweet.description %></p>
      <h6>
        <%= link_to tweet_replies_path(tweet) do %>
        Reply(<%= tweet.replies.count %>)
        <% end %>
      </h6>
    </div>
  <% end %>
</div>